/* 1440px */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* container */
.container {
  width: min (100%, 1440px);
  margin: auto;
  border: 5px solid red;
}
/* header */
header {
  background: #311500;
  padding: 18px 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  column-gap: 364px;
  align-items: center;
}
.header-div {
  display: flex;
  column-gap: 363px;
  align-items: center;
}
.header-ul {
  display: flex;
  column-gap: 36px;
}
.header-a {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.44px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}
.active {
  color: #c46a2b;
}
.inactive {
  color: #dee2eb;
}
.header-button {
  color: #dee2eb;
  background: #c46a2b;
  font-weight: 900;
  font-style: Black;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.44px;
  vertical-align: middle;
  text-transform: uppercase;
  width: 100px;
  height: 48px;
  top: 24px;
  left: 1246px;
  opacity: 1;
  border-radius: 32px;
}
.burger-logo {
  display: none;
}
/* section1 */
.section1 {
  width: 100%;
  height: 640px;
  background-image: url(../images/cover\ \(1\).png);
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* justify-content: center; */
  align-items: center;
  column-gap: 32px;
  padding-left: 543px;
 
}
.section1-a {
  display: flex;
 
}
.section1-title {
  font-weight: 400px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
/* section2 */
.section2 {
  width: 100%;
  height: 578px;
  display: flex;
  background-color: #dee2eb;
  column-gap: 20px;
  flex-direction: column;
  padding-top: 94px;
  row-gap: 34px;
  background-position: center;
  background-size: cover;
   background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.section2-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #311500;
  align-items: center;
}
.section2-div {
  display: flex;
  column-gap: 20px;
}
.section2-article {
  background-color: #311500;
  border: 5px solid #311500;
}
.section2-img1 {
  width: 100%;
  height: 190px;
}
.section2-product-title {
  font-weight: 700px;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #c46a2b;
  display: flex;
}
.section2-article-logo {
  display: flex;
}
.product-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
/* footer */
footer {
  background: #311500;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-ul {
  padding: 40px 173px 64px 372px;
 
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #dee2eb;
}
.footer-ul-middle {
  padding: 64px 218px 96px 0px;
}
.footer-address-social-media {
  padding-right: 372px;
}
.social-media-ul {
  display: flex;
  column-gap: 16px;
}

